<main class = "TodoPageMain">
  <article>
    <h1 class = "TodoPage-title"> My To-do List </h1>
    <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
      <%= text_field_tag(:todo_text, nil, class: "AddTodo-text", placeholder: "What's next?") %>
      <%= date_field(nil, nil, name: "due_date", class: "AddTodo-date") %>
      <%= submit_tag("Add", class: "AddTodo-button") %>
    <% end %>
    <%= render partial: "todo-section", locals: {
      section_title: "Overdue",
      todos: @todos.overdue,
      show_due_date:true
    } %>
    <%= render partial: "todo-section", locals: {
      section_title: "Due Today",
      todos: @todos.due_today,
      show_due_date:false
    } %>
    <%= render partial: "todo-section", locals: {
      section_title: "Due Later",
      todos: @todos.due_later,
      show_due_date:true
    } %>
  </article>
</main>
               
                    <%# <li class="TodoItem">
                    <li class="TodoItem">
                    <li class="TodoItem">
                        <div class="TodoItem-Container">
                            <input class="TodoItem-checkbox" type="checkbox">
                            <p class="TodoDetail">Call Accountant</p>
                            <img class="TodoItem-delete" src="TrashIcon.png">
                        </div>
                    </li>
                </ul>
            </section>
            <section class="TodoSection">
                <div class="TodoSectionTitle">
                    <p class="TodoSectionTitle-text">Due Tomorrow</p>
                    <p class="TodoSectionTitle-remainingCount">0/3</p>
                </div>
                <ul>
                    <li class="TodoItem">
                        <div class="TodoItem-Container">
                            <input class="TodoItem-checkbox" type="checkbox">
                            <p class="TodoDetail">Refill Groceries</p>
                            <img class="TodoItem-delete" src="TrashIcon.png">
                        </div>
                    </li>
                </ul>
            </section>
            <section class="TodoSection">
                <div class="TodoSectionTitle">
                    <p class="TodoSectionTitle-text">Due Later</p>
                    <p class="TodoSectionTitle-remainingCount">0/3</p>
                </div>
                <ul>
                    <li class="TodoItem">
                        <div class="TodoItem-Container">
                            <input class="TodoItem-checkbox" type="checkbox">
                            <p class="TodoDetail">Watch Netflix</p>
                            <p class="TodoDate">Mar 26</p>
                            <img class="TodoItem-delete" src="TrashIcon.png">
                        </div>
                    </li>
                    <li class="TodoItem">
                        <div class="TodoItem-Container">
                            <input class="TodoItem-checkbox" type="checkbox">
                            <p class="TodoDetail">Check GC</p>
                            <p class="TodoDate">Mar 27</p>
                            <img class="TodoItem-delete" src="TrashIcon.png">
                        </div>
                    </li>
                    <li class="TodoItem">
                        <div class="TodoItem-Container">
                            <input class="TodoItem-checkbox" type="checkbox">
                            <p class="TodoDetail">Attend Live-Sessions</p>
                            <p class="TodoDate">Mar 28</p>
                            <img class="TodoItem-delete" src="TrashIcon.png">
                        </div> %>
                    <%# </li>
                </ul>
            </section>
        </article>
    </main> %>